body {
    background: linear-gradient(rgb(181, 1, 139), yellow);
    color:white;
    font-family: sans-serif;
    height: 100%;
    margin-top: 0px;
    /* margin-bottom: 0px; */
    background-attachment: fixed;
    overflow: hidden;
}

#main-container {
    text-align: center;
    background-size: 150%;
    background-repeat: no-repeat;
    min-height: 100%;
}
#title-row {
    margin-top:3%;

}

h1 {
    font-style: italic;
    text-align: center;
    font-weight: 800;
    font-size: 60px;
}

#title {
    margin: 0 auto;
    margin-top:30px;
}

#input-email {
    width: 95%;
    margin:5px;
    font-size: 30px;
    height: 50px;
    
}

#subscribe-text {
    font-size: 20px;
    letter-spacing: 3px;
    text-align: center;

}

#btn-subscribe {
    width: 95%;
    height: 50px;
    background-color:yellow;
    margin:5px;
    color:rgb(196, 0, 137);
    font-size: 30px;
    border-radius: 10px;
    border-color: yellow;
}

#btn-subscribe:hover, #btn-subscribe:active {
    background-color:rgb(255, 225, 0);

}

#text-subjects {
    color:rgba(255, 255, 255, 0.534);
    font-size:25px;    
}

#version-info {
    /* position: fixed; */
    width: 100%;
    margin-top:3%;
    text-align: center;
}

#version-info p {
    font-size: 12px;
    letter-spacing: 5px;
    font-style: italic;
    text-align: center;
    color:rgba(255, 102, 0, 0.527);
    font-weight: bolder;
}

#index-subscribe-container {
    margin-top:2%;
}

#donation-container {
    margin-top:3%;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.726);
}

#qr-wallet {
    padding:10px;
}