<html>
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
            <link rel="stylesheet" href="/assets/css.css">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <style>
        </style>

            <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/0742c440f20d7ca3c9b5da267/2cc1cc80ceb2533863dc0d6b2.js");</script>
        

    <div class="container" id="main-container">
        <div class="row" id="title-row">
            <div class="col-lg-12">
                <h1 id="title">hackyweek</h1>
            </div>
            <div class="row">
                    <div class="col-lg-12" id="index-subscribe-container">
                            <!-- Begin Mailchimp Signup Form -->
                            <!-- <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css"> -->
                            
                            <div id="mc_embed_signup">
                                <form action="https://hackyweek.us20.list-manage.com/subscribe/post?u=0742c440f20d7ca3c9b5da267&amp;id=d41405df94" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                    <div id="mc_embed_signup_scroll">
                                    <label id="subscribe-text" for="mce-EMAIL">Ingresa tu correo y recibe los mejores eventos de tecnología de la semana.</label>
                                    <input type="email" value="" name="EMAIL" class="email" id="input-email" placeholder="mail" required>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                        <input type="text" name="b_0742c440f20d7ca3c9b5da267_d41405df94" tabindex="-1" value=""></div>
                                    
                                    <div class="clear">
                                        <input type="submit" value="take me to the matrix" name="subscribe" id="btn-subscribe" class="button">
                                    </div>
                                    </div>
                                </form>
                            </div>
                            <!--End mc_embed_signup-->
                        </div>  
            </div>
            <div class="row">
                <div class="col-md-12" id="text-subjects">
                    #workshops #charlas #videojuegos #bootcamps #datascience #steam #womeninsteam
                </div>                      
            </div>            
    </div>
    </div>
    <div id="footer">
            <p>Alfa versión 1.0</p>
        </div>

    </body>
</html>